@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Noto+Sans+Thai:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

/**div, img {
  user-select: "none";
  -webkit-user-select: "none";
  -moz-user-select: "none";
  -ms-user-select: "none";
  pointer-events: "none";
}**/

.facade {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5.35px);;
  }

#common-bg {
  width: 100vw;
  height: 94vh;
  overflow: hidden;
  background: var(--sky-intro, radial-gradient(89.44% 41.26% at 50% 54.46%, #00504C 0%, #012E34 100%));
  position: relative;
}

.common-bg {
  width: 100vw;
  height: 94vh;
  overflow: hidden;
  background: var(--sky-intro, radial-gradient(89.44% 41.26% at 50% 54.46%, #00504C 0%, #012E34 100%));
  position: relative;
}

.decorator-box {
  background: linear-gradient(141deg, rgba(255, 255, 255, 0.81) -24.59%, rgba(255, 255, 255, 0.30) 96.91%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(14.65px);
}

.sky-intro {
  background: radial-gradient(89.44% 41.26% at 50% 54.46%, #00504C 0%, #012E34 100%);
}

.grad-intro {
  background: linear-gradient(180deg, #FFF 12.81%, rgba(255, 255, 255, 0.00) 134.22%);  
}

.grad-intro-box {
  background: linear-gradient(180deg, #012E34 0%, #063523 100%), linear-gradient(0deg, #0E4D35 0%, #0E4D35 100%), linear-gradient(180deg, #FFF 0%, #C5C5C5 100%);
}

.grad-commonred {
    background: linear-gradient(264deg, #C95433 -3.31%, #C9333C 43.63%, #901E25 98.81%), #103426;
}

.text-grad-effect {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.font-inter {
    font-family: "Inter";
}

.font-noto-sans-thai {
    font-family: 'Noto Sans Thai';
}

.font-milonga {
    font-family: 'Milonga', cursive;
}

.font-inter-noto {
  font-family: 'Inter','Noto Sans Thai';
}

.bottom {
    bottom: 0;
}

.right {
    right: 0;
}

.text-ivory {
    color: #FFFAE0;
}

.anim-intro-fadeIn {
  opacity: 0;
  animation: fadeIn 1s ease-out forwards; 
}

.anim-intro-fadeInFast {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards; 
}

.anim-intro-easeIn {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.anim-outro-easeOut {
  opacity: 1;
  animation: fadeOut 1s ease-out;
}

.blank-facade {
  background-color: rgba(0, 0, 0, 0.47);
  backdrop-filter: blur(5.35px);
  width: 100vw;
  height: 100vh;
  position: absolute;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scroll-skyintro {
  overflow-y: scroll;
  overflow-x: hidden;
}

.scroll-skyintro::-webkit-scrollbar {
  width: 5px;
  height: 0;
}

.scroll-skyintro::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-skyintro::-webkit-scrollbar-thumb {
  background-color: #FFF7CF;
  border-radius: 3.5px;
}

.scroll-skyintro::-webkit-scrollbar-button {
  visibility: hidden;
  display: none;
}

.scroll-skyintro::-webkit-scrollbar-thumb:hover {
  background-color: #fff5a8;
}

.scroll-skyintro {
  scrollbar-width: thin;
  scrollbar-color: #FFF7CF transparent;
}

.scroll-decorator::-webkit-scrollbar {
  width: 5px;
}

.scroll-decorator::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-decorator::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3.5px;
}

.scroll-decorator::-webkit-scrollbar-thumb:hover {
  background-color: #f0f0f0;
}

.scroll-decorator {
  overflow-x: hidden;
  overflow-y: auto;
}